@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#header {
    /* position: absolute; */
    background-color: #0090E3;
    width: 100%;
    height: 60px;
    overflow: hidden;
}

body #logo {
    margin-left: 30px;
    margin-top: -22px;
    width: 100px;
    height: 100px;
}

#text-mm {
    text-align: right;
    line-height: 40px;
}

#text-mm label {
    margin: 5px;
}

#left {
    display: inline-block;
    width: 900px;
}

#right {
    display: inline-block;
    line-height: 40px;
}

#titel-gegevens {
    font-size: 20px;
    color: #2C579E;
}

#titel-punt {
    font-size: 20px;
    color: #FF6600;
}

#titel-vraag {
    font-family: 'Times New Roman', Times, serif;
    color: #4FB5FF;
}

#naam {width: 65px;}

.huis-nr {width: 50px;}

.huis-nr-toev {width: 50px;}

#color-orange {color: #FF6600;}

#custom-color {
    width: 100px;
}

#verder {
    box-shadow: 0 3px 0 0 #008b00;
    background-color: #00BA01;
    color: #FFF;
    border: none;
    padding: 5px;
    border-radius: 5px;
    transition-duration: 75ms;
}

#verder:hover {
    opacity: 85%;
}

#verder:active {
    transform: translateY(5px);
    box-shadow: 0 0 0 0 #008b00;
    opacity: 75%;
}
#wwbevest{
    /* margin-top: 200px; */
}